In [478]:
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt

import random
from pprint import pprint

In [479]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [480]:
df = pd.read_csv("/content/drive/My Drive/Support-Vector-Machines-from-Scratch/data/training.csv")
train_data_df = pd.read_csv("/content/drive/My Drive/Support-Vector-Machines-from-Scratch/data/training.csv") 
test_data_df = pd.read_csv("/content/drive/My Drive/Support-Vector-Machines-from-Scratch/data/testing.csv")

train_data_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            269         0       3  ...   7.2500   NaN         S
1            270         1       1  ...  71.2833   C85         C
2            271         1       3  ...   7.9250   NaN         S
3            272         1       1  ...  53.1000  C123         S
4            273         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
618          887         1       2  ...  39.0000    F4         S
619          888         0       2  ...  10.5000   NaN         S
620          889         0       3  ...  14.4542   NaN         C
621          890         1       1  ...  52.5542   D19         S
622          891         1       3  ...  15.7417   NaN         C

[623 rows x 12 columns]

In [481]:
train_data_df['Sex'] = train_data_df['Sex'].map({'male': 0, 'female': 1}).astype(int)
train_data_df['Age'] = train_data_df.Age.round()
test_data_df['Sex'] = test_data_df['Sex'].map({'male': 0, 'female': 1}).astype(int)
test_data_df['Age'] = test_data_df.Age.round()
#train_data_df['Age'] = train_data_df.groupby(['Survived','Embarked'])['Age'].apply(lambda x: x.fillna(x.mean()))
#test_data_df['Age'] = test_data_df.groupby(['Sex','Embarked'])['Age'].apply(lambda x: x.fillna(x.mean()))

#test_data_df['Age'] = test_data_df['Age'].fillna(df.groupby('Embarked')['Age'].transform('mean'))
#train_data_df['Age'] = train_data_df['Age'].fillna(df.groupby(['Survived','Embarked'])['Age'].transform('mean'))
test_data_df['Age'] = test_data_df['Age'].fillna(test_data_df['Age'].median())
train_data_df['Age'] = train_data_df['Age'].fillna(train_data_df['Age'].median())
train_data_df['Embarked'] = train_data_df['Embarked'].fillna(df['Embarked'].value_counts().index[0])
train_data_df['Cabin'] = train_data_df['Cabin'].fillna('Unknown')
test_data_df['Embarked'] = test_data_df['Embarked'].fillna(df['Embarked'].value_counts().index[0])
test_data_df['Cabin'] = test_data_df['Cabin'].fillna('Unknown')
train_data_df

     PassengerId  Survived  Pclass  ...     Fare    Cabin  Embarked
0            269         0       3  ...   7.2500  Unknown         S
1            270         1       1  ...  71.2833      C85         C
2            271         1       3  ...   7.9250  Unknown         S
3            272         1       1  ...  53.1000     C123         S
4            273         0       3  ...   8.0500  Unknown         S
..           ...       ...     ...  ...      ...      ...       ...
618          887         1       2  ...  39.0000       F4         S
619          888         0       2  ...  10.5000  Unknown         S
620          889         0       3  ...  14.4542  Unknown         C
621          890         1       1  ...  52.5542      D19         S
622          891         1       3  ...  15.7417  Unknown         C

[623 rows x 12 columns]

In [482]:
train_data_df = train_data_df[train_data_df.Age.notnull()][['Age','Sex',  'Pclass', 'Parch','Fare', 'SibSp','Survived','Embarked','Cabin']]

from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

train_data_df['Cabin'] = LE.fit_transform(train_data_df['Cabin'])
test_data_df['Cabin'] = LE.fit_transform(test_data_df['Cabin'])
train_data_df['Embarked'] = LE.fit_transform(train_data_df['Embarked'])
test_data_df['Embarked'] = LE.fit_transform(test_data_df['Embarked'])

In [483]:
test_data_df.Age.isnull().sum()
X = train_data_df[['Sex',    'Age', 'Pclass','SibSp', 'Fare']]
x_test = test_data_df[[ 'Sex',   'Age', 'Pclass','SibSp', 'Fare']]

Y = train_data_df['Survived']
x_test

     Sex   Age  Pclass  SibSp     Fare
0      0  21.0       3      0   7.8542
1      0  21.0       3      0  16.1000
2      0  61.0       1      0  32.3208
3      0  57.0       2      0  12.3500
4      1  21.0       1      0  77.9583
..   ...   ...     ...    ...      ...
263    0  27.0       2      0  13.0000
264    1  19.0       1      0  30.0000
265    1  28.0       3      1  23.4500
266    0  26.0       1      0  30.0000
267    0  32.0       3      0   7.7500

[268 rows x 5 columns]

In [484]:
from sklearn.metrics import accuracy_score

from sklearn.svm import SVC

classifier = SVC()

classifier.fit(X, Y)



y_pred= classifier.predict(x_test)
classifier.score(X,Y)

0.6725521669341894

In [485]:
X.shape

(623, 5)

In [486]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [487]:
x_test

     Sex   Age  Pclass  SibSp     Fare
0      0  21.0       3      0   7.8542
1      0  21.0       3      0  16.1000
2      0  61.0       1      0  32.3208
3      0  57.0       2      0  12.3500
4      1  21.0       1      0  77.9583
..   ...   ...     ...    ...      ...
263    0  27.0       2      0  13.0000
264    1  19.0       1      0  30.0000
265    1  28.0       3      1  23.4500
266    0  26.0       1      0  30.0000
267    0  32.0       3      0   7.7500

[268 rows x 5 columns]

In [488]:
arr = np.array(y_pred)
output = pd.DataFrame({'id': test_data_df.PassengerId, 'solution': y_pred})

print(output)
output.to_csv('/content/drive/My Drive/Support-Vector-Machines-from-Scratch/data/sample.csv', index=False)

      id  solution
0      1         0
1      2         0
2      3         0
3      4         0
4      5         1
..   ...       ...
263  264         0
264  265         0
265  266         0
266  267         0
267  268         0

[268 rows x 2 columns]